.categories-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block: 50px 30px;
	padding: 0;
	margin-inline: 15%;
}

.logo {
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: min-content;
}

.categories-header img {
	height: 100px;
	z-index: 1;
}

.name{
	margin-left: 20px;
	opacity: 0.95;
}

.mecatronic {
  margin-left: 15px;
  font-size: 1.4rem;
  max-height: 2.8rem;
  line-height: 1.4rem;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    10px 0.7rem 42px #9500ff,
    10px 0.7rem 82px #9500ff,
    10px 0.7rem 92px #9500ff,
    10px 0.7rem 102px #9500ff,
    10px 0.7rem 150px #9500ff,
		10px 0.7rem 42px #9500ff,
    10px 0.7rem 82px #9500ff,
    10px 0.7rem 92px #9500ff,
    10px 0.7rem 102px #9500ff,
    10px 0.7rem 150px #9500ff;

	margin: 0;
}

.components {
  margin-left: 15px;
  font-size: 1.4rem;
  max-height: 2.8rem;
  line-height: 1.4rem;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
	margin: 0;
}

.header-searchbar {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
}

.searchbar-input {
	width: 70vh;
	height: 1.5rem;
	border: 0;
}

.searchbar-input:focus {
	outline: none;
}

.searchbar-input:hover {
	box-shadow: var(--shadow-elevation-high);
}

.searchbar-button {
	border: 0;
	background-color: #2c2c41;
	aspect-ratio: 1/1;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	height: 1.5rem;
	padding: 1px;
}

.searchbar-button:hover {
	background-color: #4c4c69;
	box-shadow: var(--shadow-elevation-high);
}

.ca-link {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.category-grid {
	display: grid;
	justify-content: center;
	margin-inline: 5%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
	grid-auto-rows: minmax(100px, auto);
	gap: 10px;
}

.ca-container {
	align-items: center;
	display: flex;
	padding: 5px;
	background: hwb(240 17% 75%);
	transition: all 0.3s ease-in-out;
}

.ca-container:hover {
	background: #4c4c69;
	box-shadow: var(--shadow-elevation-high);
}

.ca-container span {
	color: #fff;
	font-weight: 600;
	margin-left: 12px;
	overflow: hidden;
	word-wrap: break-word;
}

.ca-container-header {
	display: flex;
	align-items: center;
	background: #2c2c41;
}

.ca-container-image {
	height: 100px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.pd-link {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.products-grid {
	display: grid;
	justify-content: center;
	margin-inline: 5%;
	grid-template-columns: repeat(auto-fill, minmax(225px, 260px));
	grid-auto-rows: minmax(100px, auto);
	gap: 10px;
}

.pd-container {
	align-items: start;
	display: flex;
	padding: 5px;
	background: hwb(240 17% 75%);
	transition: all 0.3s ease-in-out;
}

.pd-container:hover {
	background: #4c4c69;
	box-shadow: var(--shadow-elevation-high);
}

.pd-container-header {
	display: flex;
	align-items: center;
	background: #2c2c41;
}

.pd-container-name {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pd-container-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 0.8rem;
	color: #ebebf599;
}

.pd-container-image {
	height: 100px;
	aspect-ratio: 1/1;
}

.pd-container h3 {
	color: #fffff5db;
	text-decoration: none;
	margin: 0;
	margin-bottom: 0.3rem;
	font-size: 0.8rem;
}

.pd-container-avaiable {
	color: rgba(0, 255, 0, 0.49);
}

.pd-container-unavailable {
	color: rgba(255, 0, 0, 0.708);
}

a {
	text-decoration: none;
}

.pagination-bar {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.pagination {
	list-style: none;
	display: flex;
	gap: 10px;
}

.pagination li {
	font-size: 1rem;
}

.pagination a {
	height: 1.5rem;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #2c2c41;
	aspect-ratio: 1/1;
	transition: all 0.3s ease-in-out;
	color: #fffff5;
	text-decoration: none;
}

.pagination a:hover {
	background-color: #4c4c69;
	box-shadow: var(--shadow-elevation-high);
}

.pagination li.active a {
	background-color: #4c4c69;
	box-shadow: var(--shadow-elevation-high);
}

.pagination a:focus {
	outline: none;
}

.first-page-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.previous-page {
	width: 1rem;
}

.previous-page-disabled {
	font-size: 1rem;
	width: 1rem;
	pointer-events: none;
	opacity: 0.5;
}

.next-page {
	width: 1rem;
}

.next-page-disabled {
	font-size: 1rem;
	width: 1rem;
	pointer-events: none;
	opacity: 0.5;
}

.last-page-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.distributionCards-grid {
	margin-block: 2rem;
	margin-inline: 5%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	gap: 10px;
	border-bottom: 2rem solid #fffff500;
}

.db-card {
	display: flex;
	flex-direction: row;
	max-height: 300px;
	overflow: auto;
	padding: 10px;
	background-color: #2c2c41;
}

.db-card-img {
	height: 100%;
	aspect-ratio: 1.1/1;
	object-fit: cover;
}

.db-card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	margin-left: 10px;
	word-wrap: break-word;
}

.db-card-title {
	margin-top: 0;
	color: white;
	text-align: center;
}

.db-card-location {
	color: #fffff5db;
	font-size: small;
}

.db-card-schedule {
	color: #fffff5db;
	font-size: 0.75rem;
}

.db-card::-webkit-scrollbar {
	width: 6px; /* Ancho del scrollbar vertical */
	height: auto; /* Altura del scrollbar horizontal */
}

.db-card::-webkit-scrollbar-track {
	background: none; /* Color de fondo del track */
}

.db-card::-webkit-scrollbar-thumb {
	background: #4c4c69; /* Color del thumb */
}

.db-card::-webkit-scrollbar-thumb:hover {
	background: #5f5f77;
}

.footer-title {
	color: #fffff5;
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
	text-align: center;
}

.not-found {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fffff5;
	font-size: 2rem;
	opacity: 0;
	transition: opacity 999999s ease-in-out;
}

.not-found-page{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fffff5;
	font-size: 2rem;
}
