:root {
  --shadow-color: 235deg 17% 70%;
  --shadow-elevation-low:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.13),
    0px 0.4px 0.4px -1.9px hsl(var(--shadow-color) / 0.1),
    0px 1px 0.9px -3.7px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-medium:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.14),
    0px 0.6px 0.6px -1.2px hsl(var(--shadow-color) / 0.12),
    0px 1.9px 1.8px -2.5px hsl(var(--shadow-color) / 0.09),
    0px 5px 4.7px -3.7px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-high:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.13),
    0px 0.9px 0.8px -0.5px hsl(var(--shadow-color) / 0.12),
    0px 1.7px 1.6px -1.1px hsl(var(--shadow-color) / 0.11),
    0px 3.1px 2.9px -1.6px hsl(var(--shadow-color) / 0.1),
    0px 5.6px 5.2px -2.1px hsl(var(--shadow-color) / 0.09),
    -0.1px 9.4px 8.8px -2.7px hsl(var(--shadow-color) / 0.08),
    -0.1px 15.1px 14.2px -3.2px hsl(var(--shadow-color) / 0.06),
    -0.2px 23.1px 21.7px -3.7px hsl(var(--shadow-color) / 0.05);
}

body{
  font-family: 'Inter';
  background-color: rgb(12, 13, 24);
  height: 100vh;
  margin: 0;
  margin-top: 100px;
}





